num_nodes: 1
gpus_per_node: 4
python_venv: ../../../.venv/
account: s24r05-03-users
partition: gpu

distributed_strategy: ddp
pipe_key: training_pipeline

py_spy: false
profiling_sampling_rate: 100

training_cmd: "$(which itwinai) exec-pipeline \
  strategy={distributed_strategy} \
  checkpoints_location=checkpoints_{distributed_strategy} \
  +pipe_key={pipe_key}"
