numpyencoder>=0.3.0
pulsarrfi-nn @ git+https://gitlab.com/ml-ppa/pulsarrfi_nn.git@version_0.2#subdirectory=unet_semantic_segmentation
pulsardt @ git+https://gitlab.com/ml-ppa/pulsardt@main
ipywidgets
pyqt6>=6.0
pyquaternion>=0.9.9
scikit-image>=0.22.0
tqdm>=4.65.0
