# If you use this with in the runall or scaling mode, keep in mind that the strategies
# will change, as well as the number of nodes.
#
# Default arguments can be seen in src/itwinai/slurm/utils.py

mode: single # "single", "runall" or "scaling-test" - defaults to "single"
distributed_strategy: ddp # "ddp", "deepspeed" or "horovod"

account: intertwin
time: 02:00:00
partition: develbooster

std_out: slurm_job_logs/${distributed_strategy}.out
err_out: slurm_job_logs/${distributed_strategy}.err
job_name: eurac-${distributed_strategy}-job

num_nodes: 2
num_tasks_per_node: 1
gpus_per_node: 4
cpus_per_task: 16

python_venv: ../../.venv
pipe_key: training_pipeline
config_path: .
config_name: config

# The different number of nodes to use for the scalability testing
scalability_nodes: "1, 2, 4, 8"

# Variables in the curly brackets, "{}", will be overridden by the builder
training_cmd: "$(which itwinai) exec-pipeline \
  --config-path {config_path} \
  --config-name {config_name} \
  --strategy {distributed_strategy} \
  +pipe_key={pipe_key}"
# WARNING: If you, in the CLI, override any of the variables specified in the curly
# brackets above, there will likely be a mismatch in the builder, causing potential
# bugs.
