hdf5_file_location: /p/project1/intertwin/saether1/itwinai/use-cases/virgo/data/virgo_data.hdf5
hdf5_dataset_name: virgo_dataset
data_root: ./data
epochs: 10
batch_size: 10 # equivalent to chunk size 
learning_rate: 0.0001
strategy: ddp
checkpoint_path: checkpoints/epoch_{}.pth

# To use the entire synthetic dataset that is generated prior to running the pipeline
training_pipeline:
  class_path: itwinai.pipeline.Pipeline
  init_args:
    steps:
      - class_path: data.TimeSeriesDatasetSplitter
        init_args:
          train_proportion: 0.9
          validation_proportion: 0.1
          rnd_seed: 42
          hdf5_file_location: ${hdf5_file_location}
          chunk_size: ${batch_size}
          hdf5_dataset_name: ${hdf5_dataset_name}
      - class_path: trainer.NoiseGeneratorTrainer
        init_args:
          config:
            generator: simple #unet
            batch_size: 1
            optim_lr: ${learning_rate}
            loss: l1
            save_best: true
            shuffle_train: true
          num_epochs: ${epochs}
          strategy: ${strategy}
          checkpoint_path: ${checkpoint_path}
          random_seed: 17
          validation_every: 0
          logger:
            class_path: itwinai.loggers.LoggersCollection
            init_args:
              loggers:
                - class_path: itwinai.loggers.ConsoleLogger
                  init_args:
                    log_freq: 1
                - class_path: itwinai.loggers.MLFlowLogger
                  init_args:
                    experiment_name: Noise simulator (Virgo)
                    log_freq: batch 
       
          
# To use a small dataset that is generated within the pipeline
training_pipeline_small:
  class_path: itwinai.pipeline.Pipeline
  init_args:
    steps:
      - class_path: data.TimeSeriesDatasetGenerator
        init_args:
          data_root: ${data_root}
      - class_path: data.TimeSeriesDatasetSplitterSmall
        init_args:
          train_proportion: 0.9
          validation_proportion: 0.1
          rnd_seed: 42
      - class_path: data.TimeSeriesProcessorSmall          
      - class_path: trainer.NoiseGeneratorTrainer
        init_args:
        config:
            generator: simple #unet
            batch_size: ${batch_size}
            optim_lr: ${learning_rate}
            loss: l1
            save_best: true
            shuffle_train: true
        num_epochs: ${epochs}
        strategy: ${strategy}
        checkpoint_path: ${checkpoint_path}
        random_seed: 17
        validation_every: 0
        logger:
          class_path: itwinai.loggers.LoggersCollection
          init_args:
            loggers:
              - class_path: itwinai.loggers.ConsoleLogger
                init_args:
                  log_freq: 1
              - class_path: itwinai.loggers.MLFlowLogger
                init_args:
                  experiment_name: Noise simulator (Virgo)
                  log_freq: batch 
      
