name: Testing with pytest

on:
  pull_request:
    branches: [main, dev]

jobs:
  test-torch:
    name: Testing with pytest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.11.9
        uses: actions/setup-python@v5
        with:
          python-version: 3.11.9

      - name: Make PyTorch virtualenv
        shell: bash -l {0}
        run: make torch-env-cpu
      
      # Comment this back in to also build tensorflow env
      # - name: Make Tensorflow virtualenv
      #   shell: bash -l {0}
      #   run: make tensorflow-env-cpu

      # NOTE, to change the name of the env in which tests are run, set custom TORCH_ENV
      # and TF_ENV env variables. Default environment names are ".venv-pytorch" and 
      # ".venv-tf"

      - name: Run pytest for workflows
        shell: bash -l {0}
        run: .venv-pytorch/bin/pytest -vv -s -n logical ./tests -m "not hpc and not tensorflow"
