# SPDX-FileCopyrightText: Copyright contributors to the Software Quality Assurance as a Service (SQAaaS) project.
#
# SPDX-License-Identifier: GPL-3.0-only
---
name: SQAaaS

on: [push]

jobs:
  sqaaas_job:
    runs-on: ubuntu-latest
    name: Job that triggers SQAaaS platform
    steps:
      - name: SQAaaS action step
        uses: eosc-synergy/sqaaas-assessment-action@v1
        with:
          repo: 'https://github.com/interTwin-eu/itwinai'
          branch: 'sqaaas-code'
